@charset "ISO-8859-1";

.wrapper{
	padding-right: 2%;
	padding-left: 2%;
}

.loginBody{
	display: flex;
	justify-content: space-between;
	margin-left: 28%;
	margin-right: 28%;
}

.title{
	margin-left: 30%;
}

.register, .login{
	margin: 15px;
}
